<%= semantic_form_for(@position) do |f| %>
	<%= f.semantic_errors :state %>

	<%= f.inputs do %>
		<div class="row">
			<div class="col-md-6">
				<%= f.input :person, collection: Person.order(:name), required: true %>
			</div>
			<div class="col-md-4">
				<%= f.input :role, collection: Role.open_positions(current_year, @position.person).map {|r| ["#{r.sport.name} - #{r.name}", r.id]}, required: true %>
			</div>
			<div class="col-md-2">
				<%= f.input :year, collection: Year.order(:id), required: true %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
                <%= f.input :experience, as: :select, collection: {"n/a" => -100, 'T' => -1,0 => 0, 1 => 1, 2 => 2, 3 => 3, 4 => 4, 5 => 5, 6 => 6, 7 => 7, 8 => 8, 9 => 9, '9+' => 10}, required: true %>
			</div>
			<div class="col-md-2">
				<%= f.input :fte, as: :select, collection: {'100%' => 1.0, '75%' => 0.75, '66%' => 0.666, '50%' => 0.5, '33%' => 0.333, '25%' => 0.25}, required: true %>
			</div>
			<div class="col-md-2">
				<%= f.input :reported, as: :select, required: true %>
			</div>
			<div class="col-md-6">
				<%= f.input :hire %>
			</div>
		</div>
	<% end %>

	<%= f.actions do %>
		<%= f.action :submit, button_html: { disable_with: "Wait...", class: 'btn btn-primary' } %>
	<% end %>
<% end %>
