<h1>Current Position Assignments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
      <th>Role</th>
      <th>Hire</th>
      <th>Experience</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= link_to position.person.name, position.person %></td>
        <td><%= link_to position.sport.short, position.sport %></td>
        <td><%= position.role.name %><%= (position.fte < 1) ? " (#{percent position.fte})" : "" %></td>
        <td><%= position.hire %></td>
        <td><%= position.exp %></td>
        <td>
          <%= link_to 'Edit', edit_position_path(position), class: 'btn btn-warning btn-xs' %> &nbsp;
          <%= link_to 'Unassign', position, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path, class: 'btn btn-primary' %>
