<h1>People</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Positions</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td>
          <% if person.positions.count > 0 %>
            <ul>
              <% person.positions.each do |posn| %>
                <li><%= link_to "#{posn.sport.short} - #{posn.role.name}", posn.sport %> (<%= percent posn.fte %>)</li>
              <% end %>
            </ul>
          <% else %>
            - n/a -
          <% end %>
        </td>
        <td>
          <%= link_to 'Manage Positions', person, class: 'btn btn-default btn-xs' %> &nbsp;
        <%= link_to 'Edit', edit_person_path(person), class: 'btn btn-warning btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class: 'btn btn-primary' %>
