<h1>Sports</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>FTE Roles</th>
      <th>FTE Assigned</th>
      <th>Contract Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= link_to sport do %><%= sport.name %> [<%= sport.short %>] <% end %></td>
        <td><%= sport.roles.sum(:fte) %></td>
        <td><%= percent (sport.positions.sum(:fte) / sport.roles.sum(:fte)) %></td>
        <td><%= nice_date sport.start_date %> - <%= nice_date sport.end_date %></td>
        <td>
          <%= link_to 'Manage Roles', sport, class: 'btn btn-default btn-xs' %> &nbsp;
          <%= link_to 'Edit', edit_sport_path(sport), class: 'btn btn-warning btn-xs' %> &nbsp;
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sport', new_sport_path, class: "btn btn-primary" %>
