<h1><%= @sport.name %> [<%= @sport.short_name %>]</h1>

<p>
  <strong>Start date:</strong>
  <%= @sport.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sport.end_date %>
</p>

<h2>Positions</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Role</th>
      <th>Category</th>
      <th>Hire</th>
      <th>Experience</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @sport.roles.sort_by{|x| [x.category.rank, x.name]}.each do |role| %>
    <% role.positions.where(year: current_year).sort_by{|p| [1-p.fte, p.person.name]}.each do |position| %>
      <% if role.category.counted %>
      <tr>
      <% else %>
      <tr class="uncounted">
      <% end %>
        <td><%= ((@sport.certified && !position.person.certified?) ? fa_icon('warning', class: 'text-danger') : fa_icon('check', class: 'text-success')).html_safe %></td>
        <td><%= link_to position.person.name, position.person %></td>
        <td><%= role.name %><%= (position.fte < 1) ? " (#{percent position.fte})" : "" %></td>
        <td><%= role.category.name %></td>
        <td><%= position.hire %></td>
        <td><%= position.exp %></td>
        <td>
          <%= link_to 'Edit', edit_position_path(position), class: 'btn btn-warning btn-xs' %> &nbsp;
          <%= link_to 'Unassign', position, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  <% if role.fte - role.positions.where(year: current_year).sum(:fte) > 0.0099 %>
    <% remaining = role.fte - role.positions.where(year: current_year).sum(:fte) %>
      <% while remaining > 0.1 %>
        <% partial = (remaining < 1 and remaining > 0.1) %>
        <% if role.category.counted %>
        <tr>
        <% else %>
        <tr class="uncounted">
        <% end %>
          <td><%= fa_icon 'question' %></td>
          <td></td>
          <td><%= role.name %><%= " (#{percent (remaining)})" if partial  %></td>
          <td><%= role.category.name %></td>
          <td></td>
          <td></td>
          <td>
            <%= link_to 'Assign to Existing Person', new_position_path(role_id: role.id, fte: (partial ? (remaining * 100).floor : 100)), class: 'btn btn-default btn-xs' %> &nbsp;
            <%= link_to 'Assign to New Person', new_person_path(role_id: role.id, fte: (partial ? (remaining * 100).floor : 100)), class: 'btn btn-success btn-xs' %> &nbsp;
          </td>
        </td>
      </tr>
      <% remaining -= 1 %>
    <% end %>
  <% end %>
    <% end %>
  </tbody>
</table>

<h2>Roles</h2>
<table class="table">
  <thead>
    <tr>
      <th>Role</th>
      <th>Cat.</th>
      <th>FTE</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sport.roles.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.category.name %></td>
        <td><%= r.fte %> (<%= percent r.positions.where(year: current_year).sum(:fte) %> filled)</td>
        <td>
          <%= link_to 'Edit', edit_sport_role_path(@sport, r), class: 'btn btn-warning btn-xs' %> &nbsp;
          <%= link_to 'Delete', [@sport, r], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_sport_role_path(@sport), class: 'btn btn-primary' %>

<br/>
<br/>

<%= link_to "Printable Report", sports_report_path(sport_id: @sport.id), class: 'btn btn-info' %> &nbsp;
<%= link_to 'Back to List', sports_path, class: 'btn btn-primary' %> &nbsp;
<%= link_to 'Edit Name/Dates', edit_sport_path(@sport), class: 'btn btn-warning' %> &nbsp;
<%= link_to 'Delete', @sport, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
