<h1><%= @sport.name %> [<%= @sport.short %>]</h1>

<p>
  <strong>Start date:</strong>
  <%= @sport.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sport.end_date %>
</p>

<h2>Roles</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>FTE</th>
      <th>Assigned To</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sport.roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.category.name %></td>
        <td><%= role.fte %></td>
        <td>
          <% if role.positions.count > 0 %>
            <ul>
              <% role.positions.each do |posn| %>
                <li><%= link_to posn.person.name, posn.person %> <%= (posn.fte < 1) ? " (#{percent posn.fte})" : "" %></li>
              <% end %>
              <% if role.fte - role.positions.sum(:fte) > 0.0099 %>
                <li><b> <%= percent(role.fte - role.positions.sum(:fte)) %> Unassigned</b></li>
              <% end %>
            </ul>
          <% else %>
            - n/a -
          <% end %>
        </td>
        <td>
          <% if role.fte - role.positions.sum(:fte) > 0.0099 %>
          <%= link_to 'Assign', new_position_path(role_id: role.id), class: 'btn btn-default btn-xs' %> &nbsp;
          <% end %>
          <%= link_to 'Edit', edit_sport_role_path(@sport, role), class: 'btn btn-warning btn-xs' %> &nbsp;
          <%= link_to 'Destroy', [@sport, role], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_sport_role_path(@sport), class: 'btn btn-primary' %>

<br/>
<br/>

<%= link_to 'Back to List', sports_path, class: 'btn btn-primary' %> &nbsp;
<%= link_to 'Edit', edit_sport_path(@sport), class: 'btn btn-warning' %> &nbsp;
<%= link_to 'Delete', @sport, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
