<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @certification.course %>
</p>

<p>
  <strong>Year:</strong>
  <%= @certification.year %>
</p>

<p>
  <strong>Person:</strong>
  <%= @certification.person %>
</p>

<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
