<%= semantic_form_for(@category) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
      <div class="row">
        <div class="col-md-3">
          <%= f.input :name, required: true %>
        </div>  
      <div class="col-md-3">
          <%= f.input :pay, required: true %>
      </div>  
      <div class="col-md-3">
          <%= f.input :rank, required: true %>
      </div>  
      <div class="col-md-3">
          <%= f.input :counted, as: :select %>
      </div>  
    </div>  
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { disable_with: "Wait...", class: 'btn btn-primary' } %>
  <% end %>
<% end %>
