<h1>Category <%= @category.name %></h1>

<table class="table">
  <thead>
    <tr>
      <td>100% FTE</td>
      <td>75%</td>
      <td>66%</td>
      <td>50%</td>
      <td>33%</td>
      <td>25%</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$<%= @category.pay %></td>
      <td>$<%= (@category.pay * 0.75).to_i %></td>
      <td>$<%= (@category.pay * 0.66).to_i %></td>
      <td>$<%= (@category.pay * 0.50).to_i %></td>
      <td>$<%= (@category.pay * 0.33).to_i %></td>
      <td>$<%= (@category.pay * 0.25).to_i %></td>
    </tr>
  </tbody>
</table>


<%= link_to "Back to List", categories_path, class: 'btn btn-primary' %> &nbsp;
<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-warning' %> &nbsp;
<%= link_to 'Delete', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
